/* CSS Styles Reset */
h1, h2, h3, p, a, body, main, ul, li, section, nav{
    margin: 0;
    padding: 0;
}

#hamburger-menu {
    display: block;
}

#nav-list {
    display: block;
}

#nav-list li {
    display: block;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: grey;
}

#nav-list li a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

#hero {
    background-color: #ddd;
    padding: 2em;
    text-align: center;
}

section {
    margin: 1em 0;
    padding: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsive design for tablets */
@media (min-width: 480px) {

    #hamburger-menu {
        display: none;
        cursor: pointer;
    }
    
    #nav-list {
        list-style: none;
        padding: 0;
    }

    #nav-list ul {
        padding: 10px 0px;
    }
    
    #nav-list li {
        display: inline;
        margin: 0px;
        padding: 10px 0px;
        text-align: center;
        background-color: none;

    }
    
    #nav-list li a {
        text-decoration: none;
        color: black;
    }
}

/* Responsive design for desktops */
@media (min-width: 768px) {
    /* Styles for tablet */
}
