/* CSS Styles Reset */
h1, h2, h3, p, a, body, header, main, ul, li, section, nav{
    margin: 0;
    padding: 0;
}

/* Body rules */

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

/* Header rules */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 4em;
}

header img {
    width: 4.5em;
    height: 3.5em;
    float: left;
    margin-left: 0.5em;
    margin-top: 0.2em;
}

header h1 {
    padding-top: 0.2em;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: none;
    color: white;
}

#hamburger-menu {
    float: right;
    display: block;
    padding-top: 0.7em;
    margin-right: 1.5em;
    cursor: pointer;
    font-size: 1.5em;
}

/* Nav rules */

#nav-list {
    display: none;
    list-style: none;
    padding: 0;
}

#nav-list li {
    display: block;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: grey;
}

#nav-list li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

#nav-list li:hover {
    background-color: white;
    color: gray;
}

/* Hero image rules */

#hero-image {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    display: table;
    width: 100%;
}

@keyframes darken {
    from {opacity: 0;}
    to {opacity: 0.7;}
}

#hero-text {
    -webkit-animation: darken 1s forwards;
    animation: darken 1s forwards;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em; 
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
}

/* Main body rules */

/* CSS for Welcome section */
#welcome h2 {
    font-family: 'Poppins', sans-serif;
}

/* CSS for Featured Tanks section */
#featured-tanks h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

/* CSS for Homepage About Us section */
#about-us h2 {
    font-family: 'Merriweather', serif;
}

section {
    display: block;
    margin: 1em 0;
    padding: 1em;
}

section ul {
    margin-left: 2em;
}

section h2, section p, section li {
    margin-bottom: 0.5em;
}

section p, section li {
    font-size: 1.5em;
}

.card:hover {
    outline:auto;
}

/* Catalog table rules */

#catalog, #catalog tbody, #catalog tr, #catalog input {
    /* Make all the items within the table fill width */
    display: block;
    width: 100%;
}

#catalog tr {
    margin-top: 2em;
}

#catalog td {
    display: block;
}

#catalog td:first-child {
    /* Move the quantity selector of each listing to the right of each product name */
    float: right;
    width: 4em;
}

#catalog td:nth-child(2), #catalog td:nth-child(3) {
    font-size: 1.5em;
    width: 8em;
}

#catalog ul {
    margin-left: 2em;
}

/* About Us Page Rules */
.team .card {
    align-items: center;    
}

.team .card:hover {
    border: 1px solid grey;
}

.team a {
    text-decoration: none;
    color: inherit;
}

.team p {
    font-size: 1.5em;
    text-align: left;
}

.team img {
    max-width: 20em;
    width: 80%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team img:hover {
    width: 90%;
    border: 3px solid lightgrey;
}

.about-header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: .3em;
}

#mission {
    font-size: 1.5em;
    padding-left: .5em;
}

/* Alex Profile Style Rules */
.resume {
    font-family: 'Times New Roman', Times, serif;
}

.resume img {
    width: 80%;
    max-width: 20em;
}

.resume h4 {
    color: blue;
    font-weight: bold;
}

.resume p, .resume li {
    font-size: 1em;
}

.two-column {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.two-column h1 {
    color: blue;
    font-weight: bold;
}

.two-column p {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}

.two-column div {
    flex: 1;
}

/* Footer rules */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsive design for tablets */
@media (min-width: 480px) {

    #hamburger-menu {
        display: none;
    }

    #hero-image {
        height: 30em;
    }

    #nav-list {
        display: block;
        background-color: grey;
        text-align: center;
    }

    #nav-list ul {
        padding: 10px 0px;
    }

    #nav-list li {
        display: inline-block;
        border: none;
        padding: 0.2em 0.5em;
    }
    
    #nav-list li a {
        color: black;
    }

}

/* Responsive design for desktops */
@media (min-width: 768px) {

    .card-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 2em;
    }

    .introduction {
        display: block;
        grid-template-columns: none;
        grid: none;
    }

    #nav-list {
        text-align: left;
    }

    #nav-list li {
        padding: 0.2em 1em;
    }

    #nav-list li:hover {
        background-color: white;
        color: gray;
    }

    /* Formatting for the about us page */

    .team {
        display: flex;
        align-items: stretch;
    }

    .team .card {
        flex: 1;
        margin: auto .5em;
        display: flex;
        width: 30vw;
        height: 100%;
    }

    .team img {
        max-width: 30em;
    }

}

@media (min-width: 992px) {

    /* Format catalog listings as a table again */

    #catalog {
        display: table;
        width: 100%;
    }

    #catalog tbody {
        display: table-row-group;
    }

    #catalog tr {
        display: table-row;
        margin-top: 0;
    }

    #catalog input {
        display: inline;
        width: 4em;
    }

    #catalog td {
        display: table-cell;
        vertical-align: top;
        padding: 1em;
    }

    #catalog td:first-child {
        width: 5em;
    }

    #catalog td:nth-child(3) {
        width: 10%;
    }

    #catalog td:last-child {
        width: 50%;
    }

}

.social-icon {
    font-size: 2em; /* Icon size */
    margin: 5px; /* Spacing between icons */
}

#portfolio-links {
    /* Align links in a row */
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 10px; 
}

.portfolio-link {
    /* Style your links */
    text-decoration: none; 
    font-weight: bold; 
}

.portfolio-link:hover {
    /* Style for hover state */
    text-decoration: underline; 
}

/* contact us */
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap; 
}

.contact-map,
.contact-details,
.contact-form {
    flex: 1;
    margin: 10px;
}

.contact-map {
    min-height: 300px; 
}

.contact-details,
.contact-form {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.contact-form {
    flex-basis: 30%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-form button {
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-map,
    .contact-details,
    .contact-form {
        width: 100%;
        margin: 10px 0;
    }

    .contact-map {
        height: 200px; 
    }
}
